<h1>Welcome to Pierre's Treats!</h1>

<div>
  <p class="homelink">@Html.ActionLink("See all Treats", "Index", "Treats")</p>
  <p class="homelink">@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
</div>