<nav>
  <ul id="nav-ul">
    <li class="nav-logo">
      <p>Pierre's Treats & Flavors</p>
    </li>
    <li id="nav-li-start" class="nav-li">
      @Html.ActionLink("Home", "Index", "Home")
    </li>    
    <li class="nav-li">
      @Html.ActionLink("Account", "Index", "Account")
    </li>
    <li class="nav-li">
      @Html.ActionLink("Treats", "Index", "Treats")
    </li>
    <li class="nav-li"> 
      @Html.ActionLink("Flavors", "Index", "Flavors")
    </li>
  </ul>
</nav>