@model Treats.Models.Flavor

<h3>Create a Flavor!</h3>
<hr />

@using (Html.BeginForm())
{
    <p>
    @Html.LabelFor(model => model.Name):
    @Html.TextBoxFor(model => model.Name)
    </p>

    <input type="submit" value="Add new Flavor" class="btn btn-lg btn-info btz" />
}
<p>@Html.ActionLink("Flavors List", "Index")</p>